<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    <div class="main-content">

    </div>
    {{>header}}
    <p>{{errorMessage}}</p>
    {{>footer}}
</body>
</html>